<section class="photo-section text-center" style="background-color: rgb(0, 0, 0); position: relative;">
    <h2 style="color: #22ff34; position: relative;">Toma fotos y compártelas con todos</h2>
    <p style="color: white; position: relative;">Sube las fotos que tomes durante la fiesta a nuestra carpeta compartida
        usando el enlace a continuación:</p>

    <a href="https://drive.google.com/drive/folders/11AhttBrRk_awgnijLlMbx6zOgQ1OFR1L?usp=sharing" target="_blank"
        class="btn" style="background-color: #22ff34; position: relative;">
        Subir Fotos a la Carpeta Compartida
    </a>

    <!-- Imagen del fantasma -->
    <img src="images/ghost.png" alt="" class="ghost-image">
</section>