<section class="photo-section text-center" style="background-color: rgb(0, 0, 0);">
    <h2 style="color: #22ff34;">Toma fotos y compártelas con todos</h2>
    <p style="color: white;">Sube las fotos que tomes durante la fiesta a nuestra carpeta compartida usando el enlace a
        continuación:</p>

    <a href="https://drive.google.com/drive/folders/11AhttBrRk_awgnijLlMbx6zOgQ1OFR1L?usp=sharing" target="_blank"
        class="btn" style="background-color: #22ff34;">
        Subir Fotos a la Carpeta Compartida
    </a>
    <p style="color: white;" class="mt-3">Haz clic en el enlace para compartir tus fotos yque todos podamos verlas después del evento.</p>
    <img src="images/ghost.png" alt="" class="z-3 position-absolute w-50" style="left: -1px;">
</section>