.photo-section {
    padding: 50px;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.ghost-image {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    transform: translateY(-10%);
    width: 150px;
    z-index: 0;
}

img {
    width: 100%;
}

h2,
p,
a {
    position: relative;
    z-index: 1;
}

/* Media query para pantallas grandes (como computadoras de escritorio y laptops) */
@media (min-width: 992px) {
    h2 {
        font-size: 3vw;
        color: #c508ff !important;
    }

    .ghost-image {
        position: absolute;
        top: 0;
        margin-left: -22%;
        transform: translateY(45%);
        width: 500px;
        z-index: 0;
    }


    p {
        font-size: 1.5vw;
        margin-top: 2%;
    }

    a {
        font-size: 1.5vw;
    }

    h1 {
        color: #ffffff !important;
        margin-top: 300px;
        font-size: 4vw;
    }

    .photo-section {
        height: 100vh;
    }

    img {
        width: 30%;
    }
}