.invitation-section {
    padding: 50px;
}

h2 {
    color: #c508ff;
}

h4 {
    color: white;
}

/* Media query para pantallas grandes (como computadoras de escritorio y laptops) */
@media (min-width: 992px) {
    .iframe {
        width: 75%;
        height: 50%;
    }

    img {
        width: 50%;
    }

    h2 {
        color: #22ff34;
        font-size: 100px;
    }
    
    h4 {
        font-size: 50px;
        color: white;
    }

    a{
        font-size: 30px;
    }
}