<section class="invitation-section text-center">
    <h2 class="mb-4">¡Aquí está tu invitación!</h2>
    <div class="row">
        <div class="col">
            <img src="images/invitation.jpeg" alt="Invitación" class="img-fluid mb-4">
        </div>
        <div class="col">
            <h4>Ubicación de la Fiesta</h4>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d923.9779421901299!2d-100.98619677152281!3d22.12933949873287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842a98a1efc809c3%3A0x480cf52fe3b34246!2sGonzalo%20de%20Badajoz%20112%2C%20Himno%20Nacional%202da%20Secc%2C%2078369%20San%20Luis%20Potos%C3%AD%2C%20S.L.P.!5e0!3m2!1ses-419!2smx!4v1727206301235!5m2!1ses-419!2smx"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            <p class="mt-4">
                <a href="https://maps.app.goo.gl/Q2gjGcrmsDxZRi8U7" target="_blank" class="btn" style="background-color: #22ff34;">
                    Ver en Google Maps
                </a>
            </p>
        </div>
    </div>
</section>