.video-section {
    position: relative;
    overflow: hidden;
    padding: 0%;
    height: 100vh;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.video-content {
    position: relative;
    z-index: 2;
    transform: translateY(-50%);
}

h1 {
    color: #98f785 !important;
    margin-top: 30%;
    font-size:8vw;
}

/* Media query para pantallas grandes (como computadoras de escritorio y laptops) */
@media (min-width: 992px) {
    .video-section {
        height: 100vh;
    }

    h1 {
        color: #ffffff !important;
        margin-top: 300px;
        font-size:4vw;
    }
}