.video-section {
    position: relative;
    overflow: hidden;
    padding: 0%;
}

.video-background {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.video-content {
    position: relative;
    z-index: 2;
    transform: translateY(-50%);
}

h1 {
    color: #22ff34 !important;
    margin-top: 50%;
}

/* Media query para pantallas grandes (como computadoras de escritorio y laptops) */
@media (min-width: 992px) {
    .video-section {
        height: 100vh;
    }

    h1 {
        color: #ff7b00 !important;
        margin-top: 100px;
        font-size: 100px;
    }
}
