@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal&family=Nosifer&display=swap');


body {
    /* font-family: 'Arial', sans-serif; */
    margin: 0;
    padding: 0;
    background-color: black !important;
}

h1,
h2 {
    /* font-family: 'Creepster', cursive; */
    /* font-family: "Metal Mania", system-ui; */
    font-weight: bold !important;
    font-family: "Nosifer", sans-serif;
    /* color: #22ff34 !important; */
}

section {
    padding: 80px 20px;
}